In [1]:
DATAPATH = '../data/'
TWEETPATH = '../data/tweets/'
OUTFILE = 'aggtweets.csv'
XFERPATH = '~/downloads'  # To transfer files to Google Colab

In [2]:
import glob
import json
import pandas as pd
import gender_guesser.detector as gender
from utils import *

In [3]:
names = []
texts = []
userids = []
timestamps = []
for fn in glob.glob(TWEETPATH+'*.json'):
    with open(fn) as fi:
        for line in fi:
            r = json.loads(line)
            names.append(r['user']['name'])
            userids.append(r['user']['id'])
            texts.append(get_text_cleaned(r))
            timestamps.append(r['created_at'])

In [4]:
len(timestamps), len(names), len(userids), len(texts)

(31766, 31766, 31766, 31766)

In [5]:
df = pd.DataFrame({'name':names, 'text':texts},index=[userids, timestamps])
df.head(10)

,,name,text
425472153,Sat May 25 20:24:48 +0000 2019,Queen K,Everything and everybody is temporary ‚ÄºÔ∏è
1081873499621273601,Sat May 25 20:24:48 +0000 2019,Alexandru Constantin,My poll about short stories was part of me adm...
987721418,Sat May 25 20:24:48 +0000 2019,Susie Carmichael,Wish I was in mobile right now
980758839770451973,Sat May 25 20:24:52 +0000 2019,Princess Sih.,how much for this promo ? Put me on ?
838620336367218692,Sat May 25 20:24:53 +0000 2019,Reid Kisselback,Keep an eye on the sky this evening if you hav...
719844437967388672,Sat May 25 20:24:56 +0000 2019,Steve Berry,It appears I‚Äôve parked the Volvo on the set of...
2888535818,Sat May 25 20:24:57 +0000 2019,David S,Top Pitch.
1109541615520174082,Sat May 25 20:24:57 +0000 2019,Luke Richardson,Comment and I‚Äôll rate your account
930686221260591104,Sat May 25 20:24:58 +0000 2019,Tom,Fuck I'd love to suck them nipples üòú
46486931,Sat May 25 20:25:00 +0000 2019,Savannah Robnett,TYPICAL

In [6]:
df.tail()

,,name,text
415142128,Tue May 21 23:50:47 +0000 2019,Joe ‚Äútoo thin‚Äù Sloss,Is a hot dog considered a sandwich
219912731,Tue May 21 23:50:47 +0000 2019,Stephen Williams,"Yes, but how many people you know that had a ..."
2975374749,Tue May 21 23:50:47 +0000 2019,Daniel McDermott,ü§îi think someone wants to hold a certain ch...
2975770414,Tue May 21 23:50:48 +0000 2019,Scott Jaeger,Thanks Matt!!
1116552726412873728,Tue May 21 23:50:48 +0000 2019,Michaela Carrielies,twits can gob their garbage about B and C etc ...

In [7]:
texts[3]

' how much for this promo ? Put me on ?'

In [8]:
gd = gender.Detector()
def is_male(x):
    return(is_male_g(gd, x))

In [9]:
df['male'] = df.name.apply(is_male)
df.head()

,,name,text,male
425472153,Sat May 25 20:24:48 +0000 2019,Queen K,Everything and everybody is temporary ‚ÄºÔ∏è,False
1081873499621273601,Sat May 25 20:24:48 +0000 2019,Alexandru Constantin,My poll about short stories was part of me adm...,True
987721418,Sat May 25 20:24:48 +0000 2019,Susie Carmichael,Wish I was in mobile right now,False
980758839770451973,Sat May 25 20:24:52 +0000 2019,Princess Sih.,how much for this promo ? Put me on ?,False
838620336367218692,Sat May 25 20:24:53 +0000 2019,Reid Kisselback,Keep an eye on the sky this evening if you hav...,True

In [10]:
df.tail()

,,name,text,male
415142128,Tue May 21 23:50:47 +0000 2019,Joe ‚Äútoo thin‚Äù Sloss,Is a hot dog considered a sandwich,True
219912731,Tue May 21 23:50:47 +0000 2019,Stephen Williams,"Yes, but how many people you know that had a ...",True
2975374749,Tue May 21 23:50:47 +0000 2019,Daniel McDermott,ü§îi think someone wants to hold a certain ch...,True
2975770414,Tue May 21 23:50:48 +0000 2019,Scott Jaeger,Thanks Matt!!,True
1116552726412873728,Tue May 21 23:50:48 +0000 2019,Michaela Carrielies,twits can gob their garbage about B and C etc ...,False

In [11]:
outpath = DATAPATH+OUTFILE
df.to_csv(outpath, index_label=['id','time'])

In [12]:
!cp $outpath $XFERPATH