In [1]:
DATAPATH = '../data/'
FILENAMES = ['aggtweets.csv', 'tweets_agg_201906011717.csv']
XFERPATH = '~/gdrive_files/twitgen'

In [2]:
import pandas as pd
from datetime import datetime
from utils import balanced_split_by_time_and_id

In [3]:
df = pd.DataFrame()
for f in FILENAMES:
    df = pd.concat([df, pd.read_csv(DATAPATH + f, 
                                    index_col=['id','time'],
                                    parse_dates=['time']).drop(['name'],axis=1)]).dropna()
df.shape

(75394, 2)

In [4]:
df.head()

,,text,male
id,time,,
425472153,2019-05-25 20:24:48+00:00,Everything and everybody is temporary ‼️,False
1081873499621273601,2019-05-25 20:24:48+00:00,My poll about short stories was part of me adm...,True
987721418,2019-05-25 20:24:48+00:00,Wish I was in mobile right now,False
980758839770451973,2019-05-25 20:24:52+00:00,how much for this promo ? Put me on ?,False
838620336367218692,2019-05-25 20:24:53+00:00,Keep an eye on the sky this evening if you hav...,True

In [5]:
xy_train, xy_valid, xy_test = balanced_split_by_time_and_id(df)

In [6]:
xy_train.head()

,,text,male
id,time,,
1083596943807393792,2019-05-27 23:27:08+00:00,"Ah, the Flat Earth gambit.\nWell played.",True
815783987784187904,2019-05-24 15:36:01+00:00,Aw ily,False
3458239641,2019-05-24 19:00:37+00:00,I hate being sick,False
1003729876250226688,2019-05-26 12:53:00+00:00,You still didn't' do shit tho. Slow down the...,True
2360143940,2019-05-28 03:50:46+00:00,Harriet Tubman may not be on the $20 bill... f...,False

In [7]:
xy_train.shape, xy_valid.shape, xy_test.shape

((34146, 2), (10914, 2), (10450, 2))

In [8]:
timestamp = datetime.now().strftime('%Y%m%d%H%M')
fp_train = DATAPATH + 'twitgen_train_' + timestamp + '.csv'
fp_valid = DATAPATH + 'twitgen_valid_' + timestamp + '.csv'
fp_test = DATAPATH + 'twitgen_test_' + timestamp + '.csv'
xy_train.to_csv(fp_train)
xy_valid.to_csv(fp_valid)
xy_test.to_csv(fp_test)

In [9]:
timestamp

'201906011956'

In [10]:
!cp $fp_train $XFERPATH
!cp $fp_valid $XFERPATH
!cp $fp_test $XFERPATH