In [1]:
DATAPATH = '../data/'
TWEETPATH = '../data/tweets/'
OUTFILE = 'aggtweets601thru706.csv'

In [2]:
import glob
import json
import pandas as pd
import gender_guesser.detector as gender
from utils import *

In [3]:
names = []
texts = []
userids = []
timestamps = []
for fn in glob.glob(TWEETPATH+'*.json'):
    with open(fn) as fi:
        for line in fi:
            r = json.loads(line)
            names.append(r['user']['name'])
            userids.append(r['user']['id'])
            texts.append(get_text_cleaned(r))
            timestamps.append(r['created_at'])

In [4]:
len(timestamps), len(names), len(userids), len(texts)

(176721, 176721, 176721, 176721)

In [5]:
df = pd.DataFrame({'name':names, 'text':texts},index=[userids, timestamps])
df.head(10)

,,name,text
2222959046,Sun Jun 16 13:40:13 +0000 2019,Guy #IAmBrin #FBPE #WeAreTheOppositionNow,Of you were competent you would have been doi...
3286359792,Sun Jun 16 13:40:14 +0000 2019,Syeda Fatima,Thank you‚ù§‚ù§‚ù§‚ù§
36200387,Sun Jun 16 13:40:14 +0000 2019,David Cleary,Fuck‚Äôs sake. THAT is a photo. Excellent.
1136707302961160192,Sun Jun 16 13:40:14 +0000 2019,Bradley Howard,This is absolutely disgusting and disrespectfu...
1000191217622306817,Sun Jun 16 13:40:15 +0000 2019,Megan Fox,Educating girls has proven to be one of the wo...
864864072248045568,Sun Jun 16 13:40:16 +0000 2019,Albert Rosco,God punish everyone involved in this movie. üò¢üò¢
1042481751560413184,Sun Jun 16 13:40:17 +0000 2019,Michael Mahoney,"Why, you don‚Äôt believe polls unless they bene..."
1093124083032694785,Sun Jun 16 13:40:17 +0000 2019,Brian Schiess,"And still cleaner than coal! Even """"""clean""""..."
18184606,Sun Jun 16 13:40:17 +0000 2019,Jerry Hoskin,Fight against something and we focus on the th...
823606571427041281,Sun Jun 16 13:40:17 +0000 2019,Darin Williams,"Featured Art of the Day: ""Classics"". Buy it at:"

In [6]:
df.tail()

,,name,text
765984504745959424,Mon Jun 03 03:09:37 +0000 2019,Madyson Rayner,I‚Äôll pretend this wasn‚Äôt tweeted for attenti...
1114757848150319104,Mon Jun 03 03:09:37 +0000 2019,Ai loc,blonkarmy can camp at an army tweet abt bp ...
988644297586151424,Mon Jun 03 03:09:38 +0000 2019,Rebecca üíØüá±üá∑@POTUS,Are you going to fine yourself? Of course not...
1043267400,Mon Jun 03 03:09:38 +0000 2019,Clem,"! Enter to a $50 Card! Spend on fun items,..."
934894929037398016,Mon Jun 03 03:09:39 +0000 2019,Nicole Cage,Omg yes that one

In [7]:
texts[3]

'This is absolutely disgusting and disrespectful to the memory of Harriet Tubman. Not only should the design be out‚Ä¶ '

In [8]:
gd = gender.Detector()
def is_male(x):
    return(is_male_g(gd, x))

In [9]:
df['male'] = df.name.apply(is_male)
df.head()

,,name,text,male
2222959046,Sun Jun 16 13:40:13 +0000 2019,Guy #IAmBrin #FBPE #WeAreTheOppositionNow,Of you were competent you would have been doi...,True
3286359792,Sun Jun 16 13:40:14 +0000 2019,Syeda Fatima,Thank you‚ù§‚ù§‚ù§‚ù§,False
36200387,Sun Jun 16 13:40:14 +0000 2019,David Cleary,Fuck‚Äôs sake. THAT is a photo. Excellent.,True
1136707302961160192,Sun Jun 16 13:40:14 +0000 2019,Bradley Howard,This is absolutely disgusting and disrespectfu...,True
1000191217622306817,Sun Jun 16 13:40:15 +0000 2019,Megan Fox,Educating girls has proven to be one of the wo...,False

In [10]:
df.tail()

,,name,text,male
765984504745959424,Mon Jun 03 03:09:37 +0000 2019,Madyson Rayner,I‚Äôll pretend this wasn‚Äôt tweeted for attenti...,False
1114757848150319104,Mon Jun 03 03:09:37 +0000 2019,Ai loc,blonkarmy can camp at an army tweet abt bp ...,False
988644297586151424,Mon Jun 03 03:09:38 +0000 2019,Rebecca üíØüá±üá∑@POTUS,Are you going to fine yourself? Of course not...,False
1043267400,Mon Jun 03 03:09:38 +0000 2019,Clem,"! Enter to a $50 Card! Spend on fun items,...",True
934894929037398016,Mon Jun 03 03:09:39 +0000 2019,Nicole Cage,Omg yes that one,False

In [11]:
# These tweets caused problems in parsing the output csv later, so I'm just going to drop them
df[(df.name=='Larry F') | (df.name=='Tim Murray')]

,,name,text,male
90083667,Thu Jul 04 00:00:04 +0000 2019,Larry F,weather data \r 8:00 PM 76.0 83 pct 1.6 NW,True
284658938,Thu Jun 20 15:00:01 +0000 2019,Tim Murray,WTHD Lagrange Weather \r 11:00 AM Temp.60.9 ...,True
90083667,Wed Jun 12 05:45:02 +0000 2019,Larry F,weather data \r 01:45 AM 47.5 92 pct 0.0 WNW,True

In [12]:
df.shape

(176721, 3)

In [13]:
df = df[~((df.name=='Larry F') | (df.name=='Tim Murray'))]

In [14]:
df.shape

(176718, 3)

In [15]:
outpath = DATAPATH+OUTFILE
df.to_csv(outpath, index_label=['id','time'])