In [1]:
DATAPATH = '../data/'
FILENAMES = ['aggtweets.csv', 'tweets_agg_201906011717.csv',  'aggtweets601thru706.csv']
USEL_MODEL_FILE = 'USELModel_201906161241.h5'

In [2]:
import pandas as pd
from datetime import datetime
from utils import balance

In [3]:
df = pd.DataFrame()
for f in FILENAMES:
    df = pd.concat([df, pd.read_csv(DATAPATH + f, 
                                    index_col=['id','time'],
                                    parse_dates=['time']).drop(['name'],axis=1)]).dropna()
df.shape

(252111, 2)

In [4]:
df.head()

,,text,male
id,time,,
425472153,2019-05-25 20:24:48+00:00,Everything and everybody is temporary ‚ÄºÔ∏è,False
1081873499621273601,2019-05-25 20:24:48+00:00,My poll about short stories was part of me adm...,True
987721418,2019-05-25 20:24:48+00:00,Wish I was in mobile right now,False
980758839770451973,2019-05-25 20:24:52+00:00,how much for this promo ? Put me on ?,False
838620336367218692,2019-05-25 20:24:53+00:00,Keep an eye on the sky this evening if you hav...,True

In [5]:
xy = balance(df).sort_values(by='time')

In [6]:
xy.head()

,,text,male
id,time,,
1703564846,2019-05-21 17:50:48+00:00,I prefer tubs.. but nice try jiggly,True
211806644,2019-05-21 17:50:48+00:00,It's the shop. I'd never have paid for 2 year...,False
971515498411241472,2019-05-21 17:50:48+00:00,Why can‚Äôt attend Cannes üé¨,False
2430359987,2019-05-21 17:50:49+00:00,"Raspberry gin and tonic, nomnom üòã beautiful ev...",False
2860188236,2019-05-21 17:50:49+00:00,This is üè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åøüá¨üáßüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åøüá¨üáßüè¥Û†ÅßÛ†Å¢Û†Å•Û†ÅÆÛ†ÅßÛ†Åø here we g...,True

In [7]:
xy.tail()

,,text,male
id,time,,
970657219,2019-07-06 17:01:02+00:00,"Butterfly and Bee Picture, Bee and Butterfly f...",False
1144347639200256000,2019-07-06 17:01:03+00:00,"Plus I'd rather be ""pathetic"" than sexist as ...",False
2540538534,2019-07-06 17:01:04+00:00,I GOT IN THE DOORWAY THIS TIME LOL,False
19669474,2019-07-06 17:01:05+00:00,Open Access Journal Back List: Journal of Anci...,True
891741719225565185,2019-07-06 17:01:05+00:00,The stress of that one is plenty abeg,False

In [8]:
xy.shape

(191512, 2)

In [9]:
# Split (hypotehtically) into burn-in, validation, and test sections
val_frac = .2
test_frac = .2

burn_frac = 1 - val_frac - test_frac
burn_in = int(burn_frac*len(xy))
val_end = burn_in + int(val_frac*len(xy))
burn_in, val_end

(114907, 153209)

In [10]:
timestamp = datetime.now().strftime('%Y%m%d%H%M')
fp_big_corpus = DATAPATH + 'twitgen_big_corpus_' + timestamp + '.csv'
xy.to_csv(fp_big_corpus)

In [11]:
timestamp

'201907251843'